/*
.image{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-image: url("../images/tomat.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.imageLimonad{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-image: url("../images/Limonad.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.imageTarhun{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-image: url("../images/Tarhun.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.imageAlfredo{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-image: url("../images/alf.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.imageKarpacho{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-image: url("../images/karpacho.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
}*/
